/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||--STYLES DE POLICES IMPORTER-||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

@font-face {
    font-family: 'ballpark';
    src: url('style/ballpark.eot');
    src: url('style/ballpark.eot?#iefix') format('embedded-opentype'), url('style/ballpark.woff2') format('woff2'), url('style/ballpark.woff') format('woff'), url('style/ballpark.ttf') format('truetype'), url('style/ballpark.svg#ballparkweiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dayrom';
    src: url('style/dayrom.eot');
    src: url('style/dayrom.eot?#iefix') format('embedded-opentype'), url('style/dayrom.woff2') format('woff2'), url('style/dayrom.woff') format('woff'), url('style/dayrom.ttf') format('truetype'), url('style/dayrom.svg#day_romanregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||--PREPARATION DE LA PAGE--|||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

body {
    background: #404040;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

#bloc_page {
    background: #2B2924;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0px 4px 4px #1c1a19;
    padding: 0px;
    width: 1000px;
    margin: auto;
}

#creaSection {
    width: 900px;
    height: 500px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    margin-left: 0px;
    overflow: auto;
}

section {
    margin-right: 25px;
    margin-left: 25px;
}

section h2,
footer h1,
nav a {
    font-family: dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}

header {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 25px;
    background: url('media/separateur.png') repeat-x bottom;
    background: #D43131;
}

header h2 {
    font-family: Dayrom, serif;
    font-size: 1em;
    margin-top: 0px;
    font-weight: normal;
}

#titrePrincipal {
    display: inline-block;
}

header h1 {
    font-family: 'Impact', serif;
    font-size: 2.5em;
    font-weight: normal;
}

#logo,
header h1 {
    display: inline-block;
    margin-bottom: 0px;
}

nav {
    font-size: 0.9em;
    display: inline-block;
    width: 550px;
    text-align: right;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover {
    color: #760001;
    border-bottom: 3px solid #760001;
}

#banniere {
    margin-top: 10px;
    height: 200px;
    border-radius: 5px;
    background: url('media/banniere.png') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}

#banniere_crea {
    margin-top: 10px;
    height: 200px;
    border-radius: 5px;
    background: url('media/banniere.png') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 0px;
}

#banniere_description {
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgb(24, 24, 24);
    /* Pour les anciens navigateurs */
    background-color: rgba(24, 24, 24, 0.8);
    color: white;
    font-size: 0.8em;
}

.bouton_rouge {
    display: inline-block;
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: url('media/fond_degraderouge.png') repeat-x;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}

.bouton_rouge img {
    border: 0;
}

article,
aside {
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}

article {
    width: 665px;
    margin-right: 23px;
}

article h2 {
    color: #BFBBBB;
}

.ico_categorie {
    vertical-align: middle;
    margin-right: 8px;
}

article p {
    font-size: 0.8em;
    text-align: justify;
    color: #9E9999;
}

aside h2 {
    font-family: Dayrom, serif;
    font-size: 1.2em;
    text-align: center;
    font-weight: normal;
}

aside p {
    text-align: center;
}

.center {
    text-align: center;
}

aside {
    position: relative;
    width: 235px;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
    margin-bottom: 20px;
}

#logo_epita {
    text-align: center;
}

#logo_epita img {
    border: 1px solid #181818;
    border-radius: 5px;
}

aside img {
    margin-right: 5px;
}

footer {
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 20px;
    background: #8A1D1D;
    padding-top: 25px;
}

footer p {
    font-size: 0.8em;
    color: #262626;
}

#creation a,
#creation2 a,
#amis a {
    text-decoration: none;
    font-style: bold;
}

.lien:hover {
    color: #474747;
}

footer h1 {
    color: #A19294;
    font-size: 1.1em;
}

#creation,
#creation2,
#amis {
    display: inline-block;
    vertical-align: top;
}

#creation {
    width: 40%;
}

#creation2 {
    width: 39%;
}

#amis {
    width: 18%;
}

.home_crea_date
/* DATE  */

{
    color: #AB5B67;
}

#amis ul,#creation2 ul {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    width: 48%;
    list-style-image: url('media/ico_liensexterne.png');
    padding-left: 2px;
}

.build
/* PAGES EN COURS DE CONSTRUCTION*/

{
    font-family: dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    color: #9E9999;
}


/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||--PAGE CREATION--|||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.creatotal {
    margin-left: 45px;
    margin-right: 45px;
    width: 788px;
    background: #2B2924;
    vertical-align: middle;
}

.creaBulle
/* LES BULLES MONTRANT LES CREATIONS*/

{
    border: 1px solid #706b64;
    border-radius: 15px;
    background-color: #706b64;
    margin-top: 40px;
    margin-left: 40px;
    width: 320px;
    height: 200px;
    text-align: justify;
    display: inline-block;
    font-family: "Comic sans MS", serif;
}

.bulleBanniere
/* LA BANNIERE DES BULLES DE LA PAGE CREATION */

{
    width: 320px;
    height: 35px;
    border-bottom: 1px solid #000000;
    border-radius: 15px 15px 0px 0px;
    background: #FFFFFF;
}

.bulleTextHight {
    width: 240px;
    text-align: left;
    display: inline-block;
    padding-left: 10px;
}

.creaBulleTitle {
    font-size: 0.9em;
    font-weight: bold;
}

.creaBulleDate {
    font-weight: normal;
    font-size: 0.75em;
    color: yellow;
}

.creaBulleBottom {
    font-weight: normal;
    font-size: 0.8em;
    overflow: auto;
    height: 95px;
    padding-left: 5px;
    padding-right: 5px;
}

.floatImg {
    float: right;
    display: inline-block;
}